@(docType: String, ref: String, target: String)

<div id="documentHeader" class="printOnly">
	<div class="container">
		<div class="row">
		    <div class="col-print-3">
		        LOGO
		    </div>
		
		    <div class="col-print-7">
		    	<div class="container">
		    		<div class="row">
		    			Dest
		    		</div>
		    		<div class="row">
		    			Obj
		    		</div>
		    		<div class="row">
		    			Ref
		    		</div>
		    	</div>
		    </div>
		
		    <div class="col-print-2">
		        ISO
		    </div>
	    </div>
    </div>
</div>
