@(pageTitle: String, topMenu: Html)(content: Html)

<!DOCTYPE html>
<html lang="fr">

@mainLayout.head(pageTitle)

<body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">
@mainLayout.topBar()

<!--<div class="content">-->

    @mainLayout.sideBar()
    <div class="content-wrapper">
  	@mainLayout.mainBar(topMenu, content)
    </div>
   <!--<div class="clearfix"></div>

</div>-->

@mainLayout.footer()

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>

@mainLayout.styleScripts()
@mainLayout.customScripts()

@mainLayout.notification()
    </div>
</body>

</html>
