@(field: Field, label: String = "CHANGEME", help:String = "")
@import java.util.Calendar

@defining(Calendar.getInstance().getTime().format("HH:mm")) { today =>
	<div class="form-group">
	    <label for="@field.name">@label</label>

		<div id="@field.name" class="input-group">
			<input name="@field.name" data-format="HH:mm"
				class="form-control" type="text"
				value="@field.value.getOrElse(today)">
			<span class="input-group-addon">
				<i class="fa fa-clock-o" data-time-icon="fa fa-clock-o"></i>
			</span>
		</div>
	</div>
}

<script>
$(function() {
    $('#@field.name').datetimepicker({
	  format: 'HH:mm',
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down",
			previous: 'fa fa-arrow-left',
			next: 'fa fa-arrow-right',
			today: 'fa fa-dot-circle-o',
			clear: 'fa fa-trash',
			close: 'fa fa-close'
		}
    });
});
</script>
