

 <!-- CKEditor -->
<script src="@controllers.core.routes.Assets.versioned("ckeditor/ckeditor.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/asideManager.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/asideToggler.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/fullscreen/fullscreen.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/comment/comments.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/autoSave/autoSave.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/autoReload/autoReload.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/enterBehaviour/enterBehaviour.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/formatProvider/formatProvider.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("ckeditor-custom-plugins/sectionSelector/sectionSelector.js")"></script>
 <!-- AsyncUpload Mutex -->
<script src="@controllers.core.routes.Assets.versioned("javascripts/asyncUploadMutex.js")"></script>
 <!-- Check synchronized document with local storage -->
 <script src="@controllers.core.routes.Assets.versioned("javascripts/checkLocalStorage.js")"></script>

<!-- Time Flot -->
<script src="@controllers.core.routes.Assets.versioned("javascripts/jquery.flot.time.js")"></script>

<!-- Time Ago -->
<script src="@controllers.core.routes.Assets.versioned("javascripts/jquery.timeago.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("javascripts/jquery.timeago.fr.js")"></script>

<!-- File Upload -->
<script src="@controllers.core.routes.Assets.versioned("javascripts/jquery.fileupload.js")"></script>

<!-- Custom conf on UI --><!-- MUST DISAPEAR -->
<script src="@controllers.core.routes.Assets.versioned("javascripts/macadmin.js")"></script>

<!-- Keep Ratio -->
<script src="@controllers.core.routes.Assets.versioned("javascripts/keepRatio.js")"></script>

<!-- Pdf.js -->
<script src="@controllers.core.routes.Assets.versioned("javascripts/pdf.js")"></script>




