
<link rel="stylesheet" property='stylesheet' href="@controllers.core.routes.Assets.versioned("stylesheets/main.css")">

<link rel="stylesheet" property='stylesheet' href="@controllers.core.routes.Assets.versioned("stylesheets/dataTable.css")">
<link rel="stylesheet" property='stylesheet' href="@controllers.core.routes.Assets.versioned("stylesheets/document/documentEditorPanel.css")">

<link rel="stylesheet" property='stylesheet' href="@controllers.core.routes.Assets.versioned("stylesheets/inputDocumentFile.css")">

