

<!-- JS -->
<script src="@controllers.core.routes.Assets.versioned("js/respond.min.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("js/bootstrap.min.js")"></script> <!-- Bootstrap -->
<script src="@controllers.core.routes.Assets.versioned("js/jquery-ui.min.js")"></script> <!-- jQuery UI -->
<script src="@controllers.core.routes.Assets.versioned("js/fullcalendar.min.js")"></script> <!-- Full Google Calendar - Calendar -->
<script src="@controllers.core.routes.Assets.versioned("js/jquery.rateit.min.js")"></script> <!-- RateIt - Star rating -->
<script src="@controllers.core.routes.Assets.versioned("js/jquery.prettyPhoto.js")"></script> <!-- prettyPhoto -->
<script src="@controllers.core.routes.Assets.versioned("js/jquery.slimscroll.min.js")"></script> <!-- jQuery Slim Scroll -->
<script src="@controllers.core.routes.Assets.versioned("plugins/datatables/jquery.dataTables.min.js")"></script> <!-- Data tables -->
<script src="@controllers.core.routes.Assets.versioned("plugins/datatables/dataTables.bootstrap.min.js")"></script> <!-- Data tables -->
<script src="@controllers.core.routes.Assets.versioned("js/select2.min.js")"></script> <!-- Select 2 -->
<script src="@controllers.core.routes.Assets.versioned("js/app.min.js")"></script> <!-- Admin LTE -->

<!-- jQuery Flot -->
<script src="@controllers.core.routes.Assets.versioned("js/excanvas.min.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("js/jquery.flot.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("js/jquery.flot.resize.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("js/jquery.flot.pie.js")"></script>
<script src="@controllers.core.routes.Assets.versioned("js/jquery.flot.stack.js")"></script>

<!-- jQuery Notification - Noty -->
<script src="@controllers.core.routes.Assets.versioned("js/jquery.noty.js")"></script> <!-- jQuery Notify -->
<script src="@controllers.core.routes.Assets.versioned("js/themes/default.js")"></script> <!-- jQuery Notify -->
<script src="@controllers.core.routes.Assets.versioned("js/layouts/bottom.js")"></script> <!-- jQuery Notify -->
<script src="@controllers.core.routes.Assets.versioned("js/layouts/topRight.js")"></script> <!-- jQuery Notify -->
<script src="@controllers.core.routes.Assets.versioned("js/layouts/top.js")"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="@controllers.core.routes.Assets.versioned("js/sparklines.js")"></script> <!-- Sparklines -->
<script src="@controllers.core.routes.Assets.versioned("js/jquery.cleditor.min.js")"></script> <!-- CLEditor -->
<script src="@controllers.core.routes.Assets.versioned("js/moment-with-locales.min.js")"></script> <!-- Moment -->
<script src="@controllers.core.routes.Assets.versioned("js/bootstrap-datetimepicker.min.js")"></script> <!-- Date picker -->
<script src="@controllers.core.routes.Assets.versioned("js/jquery.onoff.min.js")"></script> <!-- Bootstrap Toggle -->
<script src="@controllers.core.routes.Assets.versioned("js/filter.js")"></script> <!-- Filter for support page -->
<script src="@controllers.core.routes.Assets.versioned("js/charts.js")"></script> <!-- Charts & Graphs -->
