
.uploadFileInput {
	position: absolute;
    bottom: 0;
}

.uploadFilePreviewZone {
    position: relative;
	border-radius: 5px;
}

.uploadFilePreviewZone > input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.uploadFilePreviewZone h4 {
	position:relative;
 	 top:50%;
  	transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	text-align: center; 
}

.uploadFilePreviewZone .deleteBtn {
    position: absolute;
    top: 7px;
    right: 10px;
}


.uploadFileProgressZone {
  	margin-left: 15px;
  	margin-right: 15px;
}

.uploadFileProgressZone .progress {
    padding-left: 0px;
    padding-right: 0px;
}

.uploadFileProgressZone .cancelBtn {
  	margin: 5px;
  	margin-top: 10px;
}


.uploadInProgress {
  	border: 2px dashed;
  	border-color: orange;
}

.uploadNotStarted {
  	border: 2px dashed;
  	border-color: #666666;
  	
}

.uploadDone {
  	border: 2px solid;
  	border-color: #666666;
}
