@main(title = "New Client"){

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ajouter un nouveau client
            </h1>
        </div>

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nom du client</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nom du client">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="password" class="form-control" id="exampleInpword1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputsword1" placeholder="Mot de passe">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        Liste des équipes:
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-users"></i> Assigner à une ou plusieurs équipes</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Bleu <input type="checkbox"></li>
                                <li class="list-group-item">Rouge <input type="checkbox"></li>
                                <li class="list-group-item">Jaune <input type="checkbox"></li>
                                <li class="list-group-item">Vert <input type="checkbox"></li>
                                <li class="list-group-item">Violet <input type="checkbox"></li>
                                <li class="list-group-item">Rose Bonbon <input type="checkbox"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           <!-- <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>-->
                <button id="button">Submit</button>
        </form>
    </div>
</div>





}