@(test: String)

@main(title = "depot"){

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dépot de document
                </h1>
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Déposer le fichier souhaité</h3>
                            </div>
                            <div class="panel-body">
                                choisissez un fichier : X
                                <button> Déposer</button>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Documents déposés</h3>
                            </div>
                            <div class="panel-body">
                                Document - Date - Client -
                                doc1.pdf - 16/02/2015 - Kazi-Aoul
                                Doc2.pdf - 21/03/2015 - J.E.
                                Doc3.pdf - 15/04/2015 - Sellami
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->



    }
