@(test: String)

@main(title = "Reunion"){

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Réunion
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Prise de rendez-vous</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Dispo de : <input type="date"></li>
                            <li class="list-group-item">au : <input type="date"></li>
                        </ul>
                        <div class="text-right">
                            <a href="#">Plus d'informations <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Votre client</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">dispo de : *12/12/2016*</li>
                            <li class="list-group-item">au : *12/12/2017*</li>
                        </ul>
                        <div class="text-right">
                            <a href="#">Plus d'informations <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Vos réunions avec *name here*</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">*12/12/2016*</li>
                                <li class="list-group-item">*12/12/2016*</li>
                                <li class="list-group-item">*12/12/2016*</li>
                                <li class="list-group-item">*12/12/2016*</li>
                                <li class="list-group-item">*12/12/2016*</li>
                            </ul>
                            <div class="text-right">
                                <a href="#">Plus d'informations <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-file"></i> Deadline Documents Clients</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Livrable 1: *12/12/2016*</li>
                                    <li class="list-group-item">Livrable 2: *12/12/2016*</li>
                                    <li class="list-group-item">Livrable 3: *12/12/2016*</li>
                                </ul>
                                <div class="text-right">
                                    <a href="#">Plus d'informations <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

    </div>

}