@(viewMesdates : List[Reunion] )

@main(title = "Reunion"){

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Mes réunions
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Mes dates</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Objet</th>
                                    <th>Date</th>
                                    <th>Heure de début</th>
                                    <th>Heure de fin</th>
                                    <th>Commentaire</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(mesdates <- viewMesdates){
                                    <tr>
                                        <td>@mesdates.nom</td>
                                        <td>@if( mesdates.date != null){@mesdates.date.format("dd/MM/yyyy")}</td>
                                        <td>@if( mesdates.dateDebut != null){ @mesdates.dateDebut.format("HH:mm")}</td>
                                        <td>@if( mesdates.dateFin != null){ @mesdates.dateFin.format("HH:mm")}</td>
                                        <td>@mesdates.commentaire</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


}