@(test: String)

@main(title = "VisuEquipe"){

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Equipe *Rose Bonbon*
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Membres:
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Entretien 1</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Membre 1</li>
                            <li class="list-group-item">Membre 2</li>
                            <li class="list-group-item">Membre 3</li>
                            <li class="list-group-item">Membre 4</li>
                            <li class="list-group-item">Membre 5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Entretiens:
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Entretien 1</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Date : <input type="date"></li>
                            <li class="list-group-item">Heure de début : <input type="text"></li>
                            <li class="list-group-item">Heure de fin : <input type="text"></li>
                            <li class="list-group-item">Participants : <input type="text"></li>
                            <li class="list-group-item">Commnetaires: <input type="text"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Entretien 2</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Date : <input type="date"></li>
                            <li class="list-group-item">Heure de début : <input type="text"></li>
                            <li class="list-group-item">Heure de fin : <input type="text"></li>
                            <li class="list-group-item">Participants : <input type="text"></li>
                            <li class="list-group-item">Commnetaires: <input type="text"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Entretien 3</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Date : <input type="date"></li>
                            <li class="list-group-item">Heure de début : <input type="text"></li>
                            <li class="list-group-item">Heure de fin : <input type="text"></li>
                            <li class="list-group-item">Participants : <input type="text"></li>
                            <li class="list-group-item">Commnetaires: <input type="text"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Liste des fonctionnalités:
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Entretien 1</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Fonction 1 <input type="checkbox"></li>
                            <li class="list-group-item">Fonction 2 <input type="checkbox"></li>
                            <li class="list-group-item">Fonction 3 <input type="checkbox"></li>
                            <li class="list-group-item">Fonction 4 <input type="checkbox"></li>
                            <li class="list-group-item">Fonction 5 <input type="checkbox"></li>
                            <li class="list-group-item">Fonction 6 <input type="checkbox"></li>
                            <li class="list-group-item">Fonction 7 <input type="checkbox"></li>
                            <li class="list-group-item">Fonction 8 <input type="checkbox"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Compte-rendus:
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Entretien 1</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Compte-rendu 1  <a href="#">Download <i class="fa fa-arrow-circle-right"></i></a></li>
                            <li class="list-group-item">Compte-rendu 2  <a href="#">Download <i class="fa fa-arrow-circle-right"></i></a></li>
                            <li class="list-group-item">Compte-rendu 3  <a href="#">Download <i class="fa fa-arrow-circle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

}