@(viewMonequipe: List[User], nomEquipe: String, viewMesreunions: List[Reunion], viewMesfonctionnalites: List[Fonctionnalite], viewMesdepots: List[Depot])

@main(title = "Mon équipe"){

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Equipe @nomEquipe
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Membres:
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Mon groupe</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @for(monequipe <- viewMonequipe){
                                <li class="list-group-item">@monequipe.nom  @monequipe.prenom</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Entretiens:
                </h2>
            </div>
        </div>

        <div class="row">
            @for(mareunion <- viewMesreunions){
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-users"></i> @mareunion.nom</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Date : @mareunion.date</li>
                                <li class="list-group-item">Heure de début : @mareunion.dateDebut</li>
                                <li class="list-group-item">Heure de fin : @mareunion.dateFin</li>
                                <li class="list-group-item">Participants : <input type="text"></li>
                                <li class="list-group-item">Commentaires: @mareunion.commentaire</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Liste des fonctionnalités:
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> Fonctionnalités trouvées</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @for(mafonctionnalite <- viewMesfonctionnalites){
                                @if(mafonctionnalite.trouve == true){
                                    <li class="list-group-item">@mafonctionnalite.nom</li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Compte-rendus:
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group">
                    @for(monDepot <- viewMesdepots){
                        <li class="list-group-item">@monDepot.nom  <a href="#">Download <i class="fa fa-arrow-circle-right"></i></a></li>
                    }
                </ul>
            </div>
        </div>

    </div>

}